@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");

/* 
:root {
  } */

body {
  font-family: "Poppins", sans-serif !important;
  margin: 0px !important; 
 }

  
 .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
   border-radius: 60px;
 }

 .css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input {
   color: #fff;
}

.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
   height: 45px;
}

.swiper-wrapper img {
  width: 100%;
}

.carousel .thumbs-wrapper {
  margin: 20px;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  bottom: 0;
  background-color: #000;
}

.carousel {
   align-items: center;
}